.title {
    text-align: center;

}
table {
    border: 2px;
    align-self: center;
    background-color: #cfcdcd;
}

#display {
    font-size: 35px;
}

.number {
    font-size: 30px;
}

.operator {
    font-size: 30px;
}